
nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background: #ccc6be;
    border-bottom: solid 3px #ccc6be;
    border-bottom-width: thin;
  }
  
  .list {
    list-style-type: none;
    background:#ccc6be;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative;
  }
  .items {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: auto;
    top: 20px;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    
  }
  
  .btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: black;
    font-size: 18px;
    
  }

  .logo {
    float: left;
    font-family: "DS Marker Felt";
    color: white;
  }
  
  /* Now, the important thing is to make it responsive (for mobile screens), so add a media query: */
  @media screen and (max-width: 768px) {
    .list {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
  
    .items:nth-child(1){
        border-top: auto solid black;
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .items {
        width: 100%;
        border-top: 1px solid black;
        text-align: center;
        margin-right: 0px;
        padding: 0px 0;
    }
    .btn {
        display: table-column;
        text-align: center;
      
    }
    
  
  }