@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply pt-20 bg-black text-white
  }
  hr {
padding: 1px;
background:#ff4500;
border: 0;
}

}



/* bg-gradient-to-r from-gray-800 to-gray-900 */